@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Bebas+Neue&family=Edu+QLD+Beginner:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Edu QLD Beginner', cursive;
}

body {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}


/*HEADER ITEM*/

.header-item {
    background: #2C5364;
    padding: 2px;
}

.header-item li {
    list-style: none;
    display: inline-block;
}

.header-item li a {
    text-decoration: none;
    color: #d4ccd1;
}

.header-item li+li::before {
    content: " | ";
    padding: 0 10px;
    justify-content: right;
    color: #d4ccd1;
}

.header-item li a.active,
.header-item li a:hover {
    background: #2C5364;
    color: #FDC830;
    transition: .5s;
    font-family: 'Edu QLD Beginner', cursive;
}


/* NAVIGATION BOTTOM BAR*/

nav {
    height: 50px;
    width: 100%;
    /*  background: linear-gradient(to right bottom, #ad5389, #3c1053);*/
    background-color: white;
}

nav ul {
    float: right;
    font-family: 'Bebas Neue', cursive;
    margin-right: 20px;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: #0F2027;
    font-size: x-large;
    padding: 7px 7px;
    border-radius: 5px;
    text-decoration: none;
}

li a.active,
li a:hover {
    background: #d4ccd1;
    color: #2C5364;
    transition: .5s;
}

section {
    background: #2C5364;
    min-height: 100vh;
    min-width: 100vh;
}

#section4 {
    min-height: fit-content;
}

section:nth-child(odd) {
    background-color: white;
}

section::before {
    content: attr(data-text);
    color: black;
    font-size: 8em;
}


/*SECTION 1*/

.Images {
    float: right;
    width: 50%;
}

.name-item {
    margin: 10%;
}

#Review {
    font-family: 'Edu QLD Beginner', cursive;
    font-size: xx-large;
    font-weight: bolder;
}

.wrapper {
    float: left;
    width: 50%;
}

.wrapper .dynamic-txts {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #2C5364;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -200px;
    }
}

.dynamic-txts li span {
    position: relative;
    line-height: 50px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 50px;
    background: white;
    border-left: 2px solid #2C5364;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}


/*TOOLS*/

h1 {
    text-align: center;
    color: #d4ccd1;
    margin: 10px;
}

.colordark h1 {
    text-align: center;
    color: #2C5364;
    margin: 10px;
}

.lineBlackBackground {
    border-top: 2px solid #d4ccd1;
    height: 1px;
    max-width: 250px;
    padding: 0;
    margin: 0px auto 0 auto;
    text-align: center;
}

.lineWhiteBackground {
    border-top: 2px solid #2C5364;
    height: 1px;
    max-width: 250px;
    padding: 0;
    margin: 0px auto 0 auto;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    justify-content: space-evenly;
    margin: 20px;
}

.container .card {
    width: 150px;
    height: 100;
    overflow: hidden;
    box-shadow: 0 2px 5px #91908d;
    padding: 10px;
    margin: 2%;
}

.card:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.card-header img {
    padding: 5px;
    width: 70%;
    object-fit: cover;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.card-body {
    color: black;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}


/*PROYECTOS*/

.container .item {
    width: 300px;
    height: 430px;
    overflow: hidden;
    box-shadow: 0 2px 5px #91908d;
    padding: 10px;
    margin: 2%;
}

.project {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    justify-content: space-evenly;
    margin: 20px;
}

.project .card-project {
    width: 300px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 2px 5px #91908d;
    padding: 10px;
    margin: 2%;
}

.card-project:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background: white;
}

#titlecard {
    padding-top: 40px;
    text-align: left;
}

.contenedor {
    overflow: hidden;
}

#contentcardproject {
    font-family: 'Edu QLD Beginner', cursive;
    text-align: justify;
}

.tag {
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 14px;
    float: left;
}

.tag-orange {
    background-color: orange;
}

.tag-red {
    margin-left: 20px;
    background-color: red;
}

.tag-purple {
    margin-left: 20px;
    background-color: rgb(133, 36, 136);
}

#listandoLenguajes {
    list-style-type: none;
}

.card.tarjeta {
    border-color: rgb(255, 0, 0);
    width: 300px;
    border-radius: 10%;
    box-shadow: none;
}

.card.hability {
    max-width: 18rem;
    border-radius: 10%;
    box-shadow: none;
    box-sizing: border-box;
}


/*BUTTONS*/

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: baseline;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}


/*SECTION 4 FOOTER*/

.container-contact {
    width: 100vh;
    display: flex;
}

.container .element {
    width: 128px;
    height: 128px;
    box-shadow: 0 0 0 transparent;
}

.element:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

footer {
    background: #0F2027;
    color: #d4ccd1;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    vertical-align: middle;
}


/*SCREEN <800*/

@media (max-width:800px) {
    .Images {
        width: 100%;
    }
    .item {
        width: 100%;
    }
    section {
        width: 100vh;
    }
    #section1 {
        height: 1000px;
    }
    #section2 .container .card {
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        height: 90;
        overflow: hidden;
        box-shadow: 0 2px 5px #91908d;
        padding: 5px;
        margin: 1%;
    }
}
