<!DOCTYPE html>
<html>

<head>
    <title>HORE</title>
    <link rel="stylesheet" type="text/css" href="/Templates/stylehore.css">
    <link rel="icon" href="https://raw.githubusercontent.com/MarabelyTenorio/PortafolioComputacion/master/animal.ico">
</head>

<body>

    <aside>
        <div id="description">

            <p>
                <strong>NOMBRE</strong>
                <br>HORE
                <br>
                <br><strong>DESCRIPCIÓN</strong>
                <br>Hotel Reservation System & <wbr>Sistema de Reservaciones Hoteleras
                <br>
                <br><strong>CARACTERÍSTICAS</strong>
                <ul>
                    <li>Aplicación de escritorio desarrollada en <em><b>C# con WPF</b></em></li>
                    <li>Librería <em><b>MaterialDesign XAML</b></em></li>
                    <li>Librería <em><b>ReactiveProperty</b></em></li>
                    <li>Patrón <em><b>MVVM</b></em></li>
                    <li>Base de datos relacional <em><b>SQL</b></em></li>
                    <li>IDE Visual Studio 2022</li>
                    <li>Microsoft SQL Server Management</li>
                </ul>
            </p>
        </div>

    </aside>

    <section class="item">
        <div id="images">
            <img alt="Login" src="https://raw.githubusercontent.com/MarabelyTenorio/HOREPROJECT/master/FINAL%20PRODUCT/loginsystem.png?token=GHSAT0AAAAAABT22HCPK4TKNTFEJ46T4DWKYWMOHQA">
            <img alt="ListCheckIn" src="https://raw.githubusercontent.com/MarabelyTenorio/HOREPROJECT/master/FINAL%20PRODUCT/watchlistbooking.png?token=GHSAT0AAAAAABT22HCPQ6PV6S46BE7C3Y66YWMOICQ">
            <img alt="DoBooking" src="https://raw.githubusercontent.com/MarabelyTenorio/HOREPROJECT/master/FINAL%20PRODUCT/dobooking.png?token=GHSAT0AAAAAABT22HCOTDIRROEPOXJE2XK4YWMOGWA">
            <img alt="Rooms" src="https://raw.githubusercontent.com/MarabelyTenorio/HOREPROJECT/master/FINAL%20PRODUCT/watchroominformation.png?token=GHSAT0AAAAAABT22HCPTOEYILP6J6KWZC2YYWMOIPQ">
        </div>
    </section>


</body>

</html>